extends ../layout

block content
    h1= value.nome
    hr
    br
    p ID: #{value._id}
    p Nome: #{value.login}
    p Data de Cadastro: #{value.data_cad}
    br
    form(method="POST", action="/fornecedores/delete/#{value._id}", role="form")
      input(type="hidden" name="_method" value="delete")
      input(type="submit", value="Excluir", class="btn btn-danger")
    br
    a(href="/fornecedores" title="Voltar") Voltar
